body {
   font-family: "Trebuchet MS", Helvetica, sans-serif; 
   margin:0;
}
#editOptions {
  margin:10;padding:0;display:inline-block;vertical-align: text-top;
  background-color:lightblue;
  width:100%;
}

h4{
  margin:3;
  padding:0;
}
.container-fluid {
   margin:0;padding:0;display:block;
}
.row {
  margin:0;padding:0;display:block;
}
#facetOptions {
  border-style:solid;border-color:lightblue;display:inline-block;vertical-align: text-top;
  background-color:lightblue;
  width:100%;
}
#hugeDataWarn {
  margin:20;border-style:none;border-color:#e6adbc;display:inline-block;vertical-align: text-top;
  background-color:#e6adbc;
  width:100%;
}
#mainPanel {
 margin-top:-120px;
 height:100%;
 /* width:1000px;*/
}
#helpText{
  width:600px;
}
.shiny-input-container:not(.shiny-input-container-inline) {
  width: 100%;
}

