
body {
   font-family: "Trebuchet MS", Helvetica, sans-serif; 
   margin:0;

}

.col-sm-4 {
 width: 350px;
 float:left;
}

#mainPanel {
    margin-top:-84px;
  float:none;
  margin-left:325px;
  margin-right:15px;
  width:calc(100% - 325px);
}
#inTabset2{
  margin-top:-125px;
  float:left;
}
.nav-tabs{
  border-bottom:0 transparent;
}
.nav-tabs>li{
  margin-bottom: -2px;
}
.nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover,.nav-tabs>li.active>a
{
  border:2px solid #E3E3E3;
  border-bottom-color:transparent;
  background-color:#F5F5F5;
}


.Pseudolabel{
   width:100%;
   display:block;
  font-family:"Trebuchet MS", Helvetica, sans-serif;
  font-size:14px;
  font-weight:bold;
  margin-bottom:5px;
  text-align:center;
}

#logodiv {
   width: 325px;
  text-align:right;
  padding-right:15px;
}
#versionCheck {
  line-height: 0.9;
  text-align:right;
}
#getHelp{
   border:2px solid #E3E3E3;
  background-color:#F5F5F5;
  border-radius:5px;
  padding:5px; 
}

#editOptions {
  text-align: center; 
  border:2px solid #E3E3E3;
 background-color:#F5F5F5;
  border-radius:5px;
  padding:2em;
}

.sidebox{
  width:320px;
  margin-left:-25px;
  border-radius:5px;
  padding:5px;
  background-color:#F5F5F5;
  border:2px solid #E3E3E3;
}
.sidebox div{
  margin-left:5px;
}
.well{
  border:transparent;
  background-color:transparent;
}
.clearer {
  clear:both;
}

#qcOpts {
  display:inline-block;
  vertical-align:top;
  }

  #chk.checkbox {
  width:150px;
  vertical-align:bottom;
  display:inline-block;
  }
#chk,#qcAction,#selDet,#dataSel,#unhide,#saveDet ,#saveSess, #handleSelected, #handleUnselected  {
  display:inline-block;
  vertical-align:top;
  padding-right:5px;
  clear:both;
  height:2em;
  text-align: center; 
  width:100%;
}
#saveDet,#saveSess {
  width:260px;
}

.selectize-input,form-control{
  display:block;
  float:left;
  background-color:orange;
  width:260px;
}
.shiny-input-container:not(.shiny-input-container-inline) {
  display:inline-block;
  width:260px;
}
.checkbox{
  vertical-align:middle;
  margin:15px;
}

#plotchk {
  width:100%;
  display:inline-block;
  text-align: center; 
  vertical-align:top;
}
#plotchk>div{
  text-align:center;
}

#plotchk.shiny-html-output.shiny-bound-output>div{
  display:inline-block;
  height:1.5em;
   text-align: center; 
}
#plotchk label {
float:left;
  vertical-align:bottom;
  text-align:center;
  padding-right:15px;
}
#distPlot img {
  border:1px solid black;
  clear:both;
}
#selTable {
  display:inline-block;
padding-top:1em;
}
#selDetInput {
  background-color:orange;
  vertical-align:top;
  padding-right:5px;
  width:260px;
}
#invertSelection {
  display:inline-block;
  vertical-align:top;
  padding-right:5px;
  padding-left:5px;
  border-top-left-radius:5px;
  border-bottom-left-radius:5px;
  border-top-right-radius:5px;
  border-bottom-right-radius:5px;
  border-left:1px solid 	#808080;
  border-right:1px solid 	#808080;
  clear:both;
}
#applyTo {
  text-align:right;
  padding-right:5px;
  display:inline-block;
  vertical-align:top;
  clear:both;
}

#saveMsg {
   display:block;
   width:320px;
   
  margin-left:-25px;
  margin-top:1.5em;
  text-align: center; 
  border:2px solid #E3E3E3;
 background-color:#F5F5F5;
  border-radius:5px;
  padding:5px;
}
h4{
  margin:3;
  padding:0;
}
#resetZoom{
  text-align: left; 
}

#facetOptions {
  display:inline-block;
  text-align: center; 
  vertical-align: top;
  width:100%;
}
#hugeDataWarn {

  border-style:none;
  border-color:#e6adbc;
  display:inline-block;
  text-align: center; 
  vertical-align: top;
  background-color:#e6adbc;
  width:100%;
}
#helpText{
  width:600px;
}
label{ 
  display: block; 
  text-align: center; 
} 
.tabbed {
  padding-left:5em;
}

